<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ddgj.dd">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".DDGJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:replace="android:icon, android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ddgj.dd.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- ============================== 友盟 =========================== -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ccdc1567e58e974a0037c7">
        </meta-data>
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 新浪微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
        <!-- QQ QZone -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105437477"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- ================================友盟配置结束=================================== -->


        <!-- =============================环信配置========================================= -->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1128161017178618#ddgj"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"/>
        <!-- ======================环信配置结束====================== -->


        <!-- ===================百度地图配置======================== -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Gl5sLaH4k4ZxXQ6ShhuCKO2AE7cKGcdl"/>
        <!-- ===================百度地图配置结束=================== -->
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".util.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserCenterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EditPersonalUserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.EditEnterpriseUserInfoActivity">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OriginalityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.PatentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity
            android:name=".activity.PublishPatentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.PublishCreativeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OrderAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OrderListActivity"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OEMFactoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OEMActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OEMProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar">
        </activity>
        <activity
            android:name=".activity.OEMAddActivity"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MineProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.PublishProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FactoryActivity"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".server.CheckUpdateService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".activity.SMSCodeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.CitySelecterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PlateDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.PublishBBSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.BBSCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLightStatuBar"/>
        <activity
            android:name=".activity.PhotoViewer"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PhotoScale"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PreviewImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity.MineOrderActivity">
        </activity>
        <activity android:name=".activity.MineCustomActivity">
        </activity>
        <activity android:name=".activity.OriginalityDetailActivity"/>
        <activity android:name=".activity.PatentDetailActivity">
        </activity>
        <activity android:name=".activity.FactoryDetailActivity">
        </activity>
        <activity android:name=".activity.ProductDetailActivity">
        </activity>
        <activity android:name=".activity.OEMFactoryDetailActivity">
        </activity>
        <activity android:name=".activity.OEMProductDetailActivity">
        </activity>
    </application>

</manifest>